.Phonetic {
  padding: 0 0 20px 20px;
}

.Phonetic a {
  background: white;
  border: 1px solid #a070a1;
  border-radius: 20px;
  color: #a070a1;
  font-size: 14px;
  padding: 5px 10px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.Phonetic a:hover {
  background: #a070a1;
  color: white;
}

.Phonetic span {
  color: gray;
}
