form {
  border-radius: 6px;
  padding: 5px 10px 20px 10px;
  text-align: center;
}

input {
  border: 0px;
  border-radius: 6px;
  box-shadow: 0 10px 10px rgb(248 231 231 / 100%);
  color: #724060;
  padding: 6px 10px;
  width: 50%;
}
