.Synonyms {
  background: white;
  border-radius: 6px;
  box-shadow: 0 10px 10px rgb(248 231 231 / 100%);
  margin-bottom: 20px;
  padding: 10px 20px;
  width: 100%;
}

h3 {
  color: #724060;
}
ul {
  list-style: none;
}

li {
  display: inline;
  margin: 7px;
}
